# NOTE: commented out ones are optional 

ENFORCE_SAME_SITE_REQUESTS=false
ADMIN_TOKEN=...

# OpenID Integration with checking of proof issuance 
OPENID_IDENTIFIER_CLAIM=...
#CHECKER_ENDPOINT= 

# proof verification 
# For basic usage you can set 
#MESSAGE_VAL=...
#SCOPE_VAL=...
# Or if you need finegrained control, set 
#VALIDATE_MESSAGESCOPE_ENDPOINT=...